# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Temporary Docker build file
Dockerfile

# Logs / temp files
*.log
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# Generated synthetic data
synthetic_claims.csv
